 
body {
        border:0;
        margin:0;
        padding:0;
        background: #DDDDDD;
        font-family:  helvetica;
        
}
 
div.container{
    width:1000px;
    min-height: 600px;
    background-color: #F5F5F5;
    border-right: 2px solid #888888;
    border-left: 2px solid #888888;
 
}
 

 

 
